body{
    /* Fjern scroling*/
    overflow: hidden;
    height: 100%;
}

h1{
    /* Centrering, størelse og tekst type */
    font-family: Arial;
    text-align: center;
}

h3{
    font-family: Arial;
    text-align: center;
}


.TilBestillingsSide{
    text-align: center;
    margin: 20px 0;

}
.TilbageTilForside{
    text-align: center;
    margin:20px 0;

}



