body {
    background-image:url("//Images/companybackground.png");
}

body {

    background-size: auto;

    background-position: center;

    background-repeat: no-repeat;

    background-attachment: fixed;

}


h1{
    text-align: center;
}


