body {

    background-size: auto;

    background-position: center;

    background-repeat: no-repeat;

    background-attachment: fixed;
}

h2{
    text-align: center;
}

h1{
    text-align: center;
}

.GåTilBestillingsSide{

}
.TilbageTilForside{

}

body {
    background-image: url('../static/Images/CB.png');
}

