
/* Laver layout for body, header, footer, container og box's */
body {
    background-image: url("/resources/static/Images/modernSkrald.png");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hiddenImage {
    display: none;
}

header, footer {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    flex: 0 0 auto;
}
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
header h1 {
    margin: 0;
}

.text {
    text-align: center;
    font-size: 1vw;
    font-family: Arial, sans-serif;
    display: block;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 50%;
}
pre {
    font-family: Arial, sans-serif;
    padding: 10px;
}

p {
    font-family: Arial, sans-serif;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 7px;
    text-align: center;
}

/* Styler container og boxes */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding: 20px;
}

.box {
    background-color: rgba(170,169,173,0.7);
    font-family: Arial, sans-serif;
    padding: 20px;
    position: sticky;
    top: 10px;
    text-align: center;
    flex: 1;
}
.homeButtonTitel {
    font-size: 1vw;
    font-family: Arial, sans-serif;
    display: block;
    margin: 0 auto;

    max-width: 50%;
    padding: 20px;
}
.homeScreenButton {
    cursor: pointer;
    width: 50px;
}
.homeScreenLogo {
    width: 20px;
    height: 20px;

}
.tagQuizz {
    width: 90px;
    height: 25px;
    display: block;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.4);
}