
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url("./Images/madspild.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.hidden_img{
    display: none;
}
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 7px;
}
header h1 {
    margin: 0;
}

h1 {

    margin: 0;
    padding: 0;

}

h2 {
    margin: 0;
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 1vw;
    display: block;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.7);
    max-width: 50%;
    padding: 20px;
}

p {
    text-align: center;
    margin: 0 0 1em 0;
}

a {
    text-align: center;
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    text-align: center;
    font-size: 1vw;
    font-family: Arial, sans-serif;
    display: block;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.7);
    max-width: 50%;
    padding: 20px;

}
.privateQuizz {
    font-size: 1vw;
    font-family: Arial, sans-serif;
    display: block;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.7);
    max-width: 50%;
    padding: 20px;
}

.homeButtonTitel {
    font-size: 1vw;
    font-family: Arial, sans-serif;
    display: block;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.7);
    max-width: 50%;
    padding: 20px;
}
.homeScreenButton {
    cursor: pointer;
    width: 50px;
}

.homeScreenLogo {
    width: 20px;
    height: 20px;

}

.box1 {
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #818589;
    border-radius: 5px;
    position: sticky;
    top: 10px;
    padding: 20px;
    margin: 20px;
    width: 300px;

}

.box2 {
    background-color: #f0f0f0;
    border: 1px solid #818589;
    border-radius: 5px;
    position: sticky;
    padding: 20px;
    margin: 20px;
    width: 300px;
    right: 20px;
    top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 7px;
    text-align: center;
}