<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/resources/static/Company.css">
    <meta charset="UTF-8">
    <title>CompanyPage</title>

</head>

<body>
<h1>Velkommen til dig som virksomhed</h1>
<h3>Tak fordi i vil gøre en indsats mod Madspild</h3>


<div class="TilBestillingsSide">
    <a href="Ordering.html">
        <button class="Knap"> Klik her for at bestille jeres flyers </button>
    </a>
</div>

<div class="TilbageTilForside">
   <a href="Home.html">
       <button class="Knap">Klik her for at gå tilbage til forsiden</button>
   </a>
</div>

<div class="Foto">
    <img src="../static/Images/BundFoto.png">
</div>



</body>
</html>
