<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/resources/static/Company.css">
    <meta charset="UTF-8">
    <title>CompanyPage</title>

<!--
    <style>
        body {

            background-image: url('../static/Images/GreenCompany.jpg');

            background-size: auto;

            background-position: center;

            background-repeat: no-repeat;

            background-attachment: fixed;
        }
    </style>
-->

</head>
<body>
<h1> Welcome to our page click down below to order flyers</h1>
<button class="Redirect"> -> CLick here <- </button>
</body>
</html>
