<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/resources/static/Company.css">
    <meta charset="UTF-8">
    <title>CompanyPage</title>


    <style>
        body {

            background-image: url('../static/Images/CB.png');
            <!-- justere bagrunden -->
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>


</head>

<body>
<h1>Virksomhed Velkommen</h1>
<h2>Tak fordi i vil gøre en indsats mod Madspild</h2>


<div class="GåTilBestillingsSide">
    <a href="Ordering.html">
        <button class=""> Klik her for at bestille jeres flyers </button>
    </a>
</div>

<div class="TilbageTilForside">
   <a href="Home.html">
       <button class="">Klik her for at gå tilbage til forsiden</button>
   </a>
</div>



</body>
</html>
