<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome! </title>
    <link rel="stylesheet" href="/resources/static/Home.css">
</head>
<body>
<h1>Velkommen til Danmark mod madspild!</h1>

<p>Gå til menu for virksomheder
    <br>
<a href="Company.html">
    <button>Virksomhed</button>
</a>
</p>

<br>
<br>

<p>Gå til menu for organisationer
    <br>
<a href="Organization.html">
    <button>Organisation</button>
</a>
</p>

<br>
<br>

<p>Gå til menu for privat forbruger
    <br>
<a href="PrivateConsumer.html">
    <button>Privat forbruger</button>
</a>
</p>

</body>
</html>