<!DOCTYPE html>
<html lang="en">
<head>
    <img src="/resources/static/Images/madspild.jpg" alt="test1" class="hidden_img">
    <meta charset="UTF-8">
    <title>Private Consumer</title>
    <link rel="stylesheet" href="/resources/static/PrivateConsumer.css">

</head>
<body>


<h1>Privat forbruger Velkommen</h1>
<p id="Privateheader">her kan du tage en quiz om madspild.

<a href="PrivateConsumerQuiz.html">
    <br>
    <button>Tag quizz</button>
</a>
</p>

<h4>10 Tip til mindre madspild i hjemmet</h4>
<pre>
<b>1. Planlæg dine måltider:</b>
Lav en madplan for ugen, så du kun køber de nødvendige ingredienser,
og undgå spontane køb, der kan føre til overskud af madvarer.
Køb ind med hoevedet, ikke med maven!

<b>2. Indfør en ugentlig restedag:</b>
Hjælper med at udrydde rester på en
både økonomisk og miljøvenlig måde.

<b>3. SMS-beskeder eller App-beskeder fra dit lokale supermarked:</b>
En måde du kan hjælpe supermarkeder med ikke at
smide for meget ud samtidig med at du ofte kan
spare lidt på nedsatte/overskydende varer.

<b>4. Stykrabatter eller mængderabatter i supermarkederne:</b>
Vær sikker på, at du får brugt og spist al maden, eller har plads til at opbevarer det.
Hvis der er 2 på tilbud men du smider halvdelen ud, hvor meget har du så egentlig sparet?

<b>5. Frys overskud ned:</b>
Hvis du har lavet for meget mad, kan du fryse resterne ned til senere brug.
Man kan mærke og datere maden for nem identifikation.

<b>6. Konserves og tørrede fødevarer:</b>
Konservesvarer og tørrede fødevarer som ris, pasta, bønner og linser
har lang holdbarhed og er gode at have på lager som backup,
når du løber tør for friske ingredienser.

<b>7. Lær forskellen mellem "bedst før" og "sidste anvendelsesdato" </b>
Mange fødevarer er stadig spiselige efter "bedst før"-datoen,
så undgår du både spild af mad og dine penge.

<b>8. Følg princippet "først ind, først ud":</b>
Placer nye indkøb bagerst i køleskabet eller skabet
og ældre varer forrest, så de bliver brugt først.

<b>9. Køb varer der nærmer sig udløbsdato:</b>
Køb gerne nedsatte varer, som nærmer sig udløbsdatoen,
hvis I altså kan nå at spise dem, eller fryser dem med det samme.

<b>10. Sorter og tænk i portioner</b>
Spiser du eksempelvis selv en aften, skal der ganske enkelt ikke ligeså meget mad til.
Det lyder måske som logik for burhøns, men basale tiltag som disse
kan virkelig hjælpe dig på rette kurs når det angår madspild.</pre>
<p> Tilbage til start menu
    <br>
    <a href="Home.html">
        <button>Tilbage til start</button>
    </a>
</p>

</body>
</html>